/* About Us START */
.about-h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: var(--fs-1);
  text-transform: uppercase;
  color: var(--eerie-black);
  font-weight: var(--weight-600);
  border-bottom: 2px solid var(--eerie-black);
}
  
.about-main {
  padding: 20px;
  margin: 0 auto;
  max-width: 88%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  color: var(--light-green);
  border-bottom: 2px solid var(--eerie-black);
}

.about-main p {
  line-height: 1.6;
  margin-bottom: 25px;
}
/* About Us END */