/* Product START */
.product-main {margin-bottom: 30px;}
.product-main .title {font-size: var(--fs-1);}

.product-grid {
  gap: 25px;
  display: grid;
  grid-template-columns: 1fr;
}

.product-grid .showcase {
  overflow: hidden;
  border: 1px solid var(--cultured);
  transition: var(--transition-timing);
  border-radius: var(--border-radius-md);
}

.product-grid .showcase:hover {box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);}

.product-grid .showcase-banner {
  height: 350px;
  position: relative;
}

.product-grid .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}

.product-grid .product-img.default {
  z-index: 1;
  position: relative;
}

.product-grid .product-img.hover {
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  position: absolute;
}

.product-grid .showcase:hover .product-img.hover {opacity: 1;}
.product-grid .showcase:hover .product-img.default {opacity: 0;}
.product-grid .showcase:hover .product-img {transform: scale(1.1);}

.product-grid .showcase-badge {
  top: 15px;
  left: 15px;
  z-index: 3;
  padding: 0 8px;
  position: absolute;
  color: var(--white);
  font-size: var(--fs-8);
  background: var(--ocean-green);
  font-weight: var(--weight-500);
  border-radius: var(--border-radius-sm);
}

.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  font-size: 11px;
  padding: 5px 40px;
  transform: rotate(-45deg);
  text-transform: uppercase;
}

.product-grid .showcase-badge.black {background: var(--eerie-black);}
.product-grid .showcase-badge.pink {background: var(--salmon-pink);}

.product-grid .showcase-actions {
  top: 10px;
  z-index: 3;
  right: 10px;
  font-size: 20px;
  position: absolute;
  transform: translateX(50px);
  transition: var(--transition-timing);
}

.product-grid .showcase:hover .showcase-actions {transform: translateX(0);}

.product-grid .btn-action {
  padding: 5px;
  margin-bottom: 5px;
  background: var(--white);
  color: var(--sonic-silver);
  border: 1px solid var(--cultured);
  transition: var(--transition-timing);
  border-radius: var(--border-radius-sm);
}

.product-grid .btn-action:hover {
  color: var(--white);
  background: var(--yellow);
  border-color: var(--yellow);
}

.product-grid .showcase-content {
  padding: 15px 20px 0; 
}

.product-grid .showcase-category {
  margin-bottom: 10px;
  font-size: var(--fs-5);
  color: var(--sandy-brown);
  text-transform: uppercase;
  font-weight: var(--weight-700);
}

.product-grid .showcase-title {
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: var(--fs-8);
  text-transform: capitalize;
  color: var(--sonic-silver);
  font-weight: var(--weight-300);
  transition: var(--transition-timing);
}

.product-grid .showcase-title:hover {color: var(--eerie-black);}

.product-grid .showcase-rating {
  display: flex;
  margin-bottom: 10px;
  color: var(--sandy-brown);
}

.product-grid .price-box {
  gap: 10px;
  display: flex;
  margin-bottom: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
}

.product-grid del {color: var(--sonic-silver);}
.product-grid .price {font-weight: var(--weight-700);}
/* Product END */