body
{
    background-color: #e5e5fa;
    color: #191971;
    font-family: Arial, Verdana, sans-serif;
}
h1
{
    background-color: #191970;
    color: #E6E6FA;
    opacity: 1.0;
    line-height: 200%;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 3px 3px 5px #CCCCCC;
}
h2
{
    background-color: #AEAED4;
    color: #191970;
    opacity: 1.0;
    line-height: 200%;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 3px 3px 5px #CCCCCC;
    text-align: center;
}
p
{
    font-size: 0.90em;
    text-indent: 3em;
}