body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 
header {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
}
 
nav {
    background-color: #333;
    padding-top:auto;
    padding-bottom: auto;
}


/* Navigation Button */
.navigate {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
    
}
 
.navigate li {
    display: inline;
    margin-right: 10px;
}
 
.navigate li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: large;
}

.navigate a:hover {
    background-color: #fff;
    color: #333;
}


/* Authentication Button */
.auth {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
}

.auth li {
    display: inline;
    margin-right: 10px;
}

.auth li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: large;
}

.auth li a:hover {
    background-color: #fff;
    color: #333;
}

/* Main Body */

main {
	padding: 20px;
}


/* Footer */

footer {
    text-align: center;
}