body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 
header {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
}
 
nav {
    background-color: #333;
    padding-top:auto;
    padding-bottom: auto;
}




/* Navigation Button */
.navigate {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
    
}
 
.navigate li {
    display: inline;
    margin-right: 10px;
}
 
.navigate li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: large;
}

.navigate a:hover {
    background-color: #fff;
    color: #333;
}


/* Authentication Button */
.auth {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
}

.auth li {
    display: inline;
    margin-right: 10px;
}

.auth li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: large;
}

.auth li a:hover {
    background-color: #fff;
    color: #333;
}

/* Main Body */

main {
	padding: 20px;
}

.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
	color: #333;
	font-size:30px;
}

p {
	color: #555;
}

form label {
	display: block;
	font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

form button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

form button:hover {
	background-color: #555;
}

#formMessage {
	margin-top: 10px;
	font-weight: bold;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 190px;
}
  
.contact div {
    width: 33%;
    text-align: center;
}

.contact .phone {
    order: 1;
}

.contact .email {
    order: 2;
}

.contact .address {
    order: 3;
}

.phone img {
    width: 26%;
    height: 80px;
}

.email img {
    width: 26%;
    height: 80px;
}

.address img {
    width: 20%;
    height: 80px;
}

/* Footer */

footer {
    text-align: center;
}