<div class="product">
    <img src="asset/pencil.jpeg" alt="pencil">
    <h2>Pencil (10 / packet)</h2>
    <p>Price: RM 7.00</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/pen.jpg" alt="pen">
    <h2>Ballpoint Pen (Black, Blue or Red)</h2>
    <p>Price: RM 1.10</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/ruler.jpg" alt="ruler">
    <h2>Ruler (30cm)</h2>
    <p>Price: RM 3.00</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/eraser.jpg" alt="eraser">
    <h2>Eraser</h2>
    <p>Price: RM 0.80</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/gluestick.jpg" alt="gluestick">
    <h2>Gluestick</h2>
    <p>Price: RM 2.10</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/scissors.jpg" alt="scissors">
    <h2>Scissors (Metal Quality)</h2>
    <p>Price: RM 50.00</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/stapler.jpg" alt="stapler">
    <h2>Stapler</h2>
    <p>Price: RM 15.00</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/staples.jpeg" alt="staples">
    <h2>Staples</h2>
    <p>Price: RM 1.30</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/correction-tape.jpg" alt="correction-tape">
    <h2>Correction Tape</h2>
    <p>Price: RM 3.50</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/double-sided-tape.jpg" alt="double-sided-tape">
    <h2>Double Sided Tape (24mm)</h2>
    <p>Price: RM 2.80</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/masking-tape.jpg" alt="masking-tape">
    <h2>Masking Tape (36mm)</h2>
    <p>Price: RM 3.80</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/marker-pen.jpg" alt="marker-pen">
    <h2>Marker Pen (Black, Blue or Red)</h2>
    <p>Price: RM 3.80</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/crayons.jpg" alt="crayons">
    <h2>Crayons</h2>
    <p>Price: RM 16.80</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/colour-pencils.jpg" alt="colour-pencils">
    <h2>Colour Pencils (1 Set)</h2>
    <p>Price: RM 15.80</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/highlighter.png" alt="highlighter">
    <h2>Highlighter (2 in 1)</h2>
    <p>Price: RM 5.00</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/sticky-notes.jpg" alt="sticky-notes">
    <h2>Sticky Note</h2>
    <p>Price: RM 2.80</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/sketchbool.jpg" alt="sketchbook">
    <h2>Sketchbook</h2>
    <p>Price: RM 1.80</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/notepad.jpg" alt="notepad">
    <h2>Notepad</h2>
    <p>Price: RM 1.50</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/notebook.jpg" alt="notebook">
    <h2>Notebook</h2>
    <p>Price: RM 2.50</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/sugar-paper.jpeg" alt="sugar-paper">
    <h2>Sugar Paper (Black)</h2>
    <p>Price: RM 0.90</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/sharpener.jpg" alt="sharpener">
    <h2>sharpener</h2>
    <p>Price: RM 0.60</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/push-pin.jpg" alt="push-pin">
    <h2>Push Pin (50 in 1)</h2>
    <p>Price: RM 6.00</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/paper-clip.jpg" alt="paper-clip">
    <h2>Paper Clip</h2>
    <p>Price: RM 0.10</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/binder-clip.jpeg" alt="binder-clip">
    <h2>Binder Clip</h2>
    <p>Price: RM 1.20</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="asset/calculator.jpg" alt="calculator">
    <h2>Scientific Calculator</h2>
    <p>Price: RM 78.80</p>
    <button>Add to Cart</button>
</div>