body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: #f2f2f2;
}
 
header {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
}
 
nav {
    background-color: #333;
    padding-top:auto;
    padding-bottom: auto;
}

/* Navigation Button */
.navigate {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
}
 
.navigate li {
    display: inline;
    margin-right: 10px;
}
 
.navigate li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: large;
}

.navigate a:hover {
    background-color: #fff;
    color: #333;
}


/* Authentication Button */
.auth {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
}

.auth li {
    display: inline;
    margin-right: 10px;
}

.auth li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: large;
}

.auth li a:hover {
    background-color: #fff;
    color: #333;
}

/* Product Div */

.product {
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 20px;
	text-align: center;
	display: inline-block;
	width: 20%;
}

.product img {
	max-width: 100%;
}

.product h2 {
	font-size: 18px;
	margin: 10px 0;
}

.product p {
	font-size: 14px;
}