body
{
    background-color: #e5e5fa;
    color: #191971;
    font-family: Arial, Verdana, sans-serif;
}
h1
{
    background-color: #191970;
    color: #E6E6FA;
    opacity: 1.0;
    line-height: 200%;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 3px 3px 5px #CCCCCC;
}
h2
{
    background-color: #AEAED4;
    color: #191970;
    opacity: 1.0;
    line-height: 200%;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 3px 3px 5px #CCCCCC;
    text-align: center;
}
p
{
    font-size: 0.90em;
    text-indent: 3em;
}
.nav
{
    font-size: 1.25em;
    font-weight: bold;
}
.feature
{
    color: #C70000;
}
.footer
{
    color: #333333;
    font-size: 0.75em;
    font-style: italic;
}
.company
{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1.25em;
    color: #C70000;
}