/* Contact Page START*/
.contact {
	position: relative;
	min-height: 30vh;
	padding: 30px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--cultured);
}

.contact .content {
	max-width: 850px;
	text-align: center;
	margin-bottom: 10px;
}

.contact .content h2 {
	padding-bottom: 5px;
	font-size: var(--fs-1);
	color: var(--eerie-black);
	font-weight: var(--weight-600);
	border-bottom: 2px solid var(--eerie-black);
}

.contact .content p {
	margin-top: 10px;
	font-size: var(--fs-3);
	color: var(--eerie-black);
	font-weight: var(--weight-400);
}

.cont {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-top: 30px;
	margin-bottom: 100px;
}

.cont .contact-info {
	background: var(--cultured);
	width: 70%;
	display:block;
}

.cont .contact-info .box {
	position: relative;
	padding: 20px 0;
	display: flex;
	cursor: pointer;
}

.cont .contact-info .box .icon {
	min-width: 60px;
	height: 60px;
	background: var(--cultured);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75em;
}

.cont .contact-info .box .text {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-size: 1.1em;
	color: var(--eerie-black);
	font-weight: var(--weight-400);
}

.cont .contact-info .box .text h3 {
	font-weight: var(--weight-700);
	margin-bottom: 5px;
	color: var(--eerie-black);
}

.cont .contact-info .txt {
	color: var(--eerie-black);
	margin-top: 28px;
	font-size: 1.8em;
	font-weight: 550;
	line-height: 1em;
}

.sci {
	position: relative;
	display: flex;
	gap: 20px;
	margin: 20px 0;
}

.sci li {
	list-style: none;
}

.cont .contact-form {
	margin-top: 30px;
	position: relative;
	width: 60%;
	background: var(--cultured);
	min-height: 500px;
	padding: 60px;
}

form label {display: block;font-weight: bold;font-size: var(--fs-3);padding-bottom: 5px;}
form input[type="text"], form input[type="email"],form textarea {
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 20px;
	border: 2px solid var(--eerie-black);
}

.submit-form-button-container {
  width: 40%;
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0px;
  border-radius: 8px;
  padding-bottom: 0px;
  align-items: center;
  font-size: var(--fs-3);
  justify-content: center;
  color: var(--eerie-black);
  background-color: var(--light-green);
  border-bottom: 0px solid var(--onyx);
}

.submit-form-button-container button {
  width: 100%;
  border: none;
  cursor: pointer;
	padding: 10px 20px;
	border-radius: 8px;
  font-size: 1.75em;
  font-weight: bold;
  color: var(--eerie-black);
  background-color: var(--light-green);
}

#formMessage {margin-top: 10px;font-weight: bold;}
.submit-form-button-container button:hover {background-color: var(--yellow);}
/* Contact Page END*/