/* Footer START */
footer {
  padding: 30px 0;
  background: var(--light-green);
}

.footer-category {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--onyx);
}

.footer-category-title {
  margin-bottom: 15px;
  font-size: var(--fs-6);
  color: var(--salmon-pink);
  text-transform: uppercase;
  font-weight: var(--weight-600);
}

.footer-category-box {
  row-gap: 3px;
  display: flex;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  -moz-column-gap: 20px;
  -webkit-flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-column-gap: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.category-box-title {
  font-size: var(--fs-8);
  text-transform: uppercase;
  color: var(--spanish-gray);
  font-weight: var(--weight-600);
}

.footer-category-link {
  position: relative;
  font-size: var(--fs-7);
  text-transform: capitalize;
  color: var(--sonic-silver);
  -webkit-transition: var(--transition-timing);
  transition: var(--transition-timing);
}

.footer-category-link:hover {color: var(--spanish-gray);}

.footer-category-link:not(:last-child)::after {
  content: '';
  top: 3px;
  width: 1px;
  right: -10px;
  height: 15px;
  position: absolute;
  background: var(--sonic-silver);
}

.footer-nav {
  margin-bottom: 0px;
  padding-bottom: 30px;
  border-bottom: 0px solid var(--onyx);
}

.footer-nav-list:not(:last-child) {margin-bottom: 0px;}

.footer-nav .nav-title {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 5px;
  color: var(--white);
  font-size: var(--fs-5);
  text-transform: uppercase;
}

.footer-nav .nav-title::before {
  left: 0;
  bottom: 0;
  content: '';
  width: 60px;
  height: 1px;
  position: absolute;
  background: var(--yellow);
}

.footer-nav-item {padding: 3px 0;}

.footer-nav-link, .footer-nav-item .content {
  width: max-content;
  font-size: var(--fs-6);
  color: var(--eerie-black);
  text-transform: capitalize;
  transition: var(--transition-timing);
}

.footer-nav-link:hover {color: var(--yellow);}

.footer-nav-item.flex {
  gap: 5px;
  display: flex;
  align-items: flex-start;
}

.footer-nav-item .content {
  font-style: normal;
  margin-bottom: 5px;
}

.footer-nav .social-link {
  gap: 10px;
  display: flex;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: flex-start;
}

.footer-bottom {
  text-align: center;
  margin-bottom: 50px;
}

.small-footer {
  display: flex;
  align-items: center;
  font-size: var(--fs-3);
  justify-content: center;
  color: var(--eerie-black);
}

.social-link .footer-nav-link {font-size: 25px;}

.copyright {
  letter-spacing: 1.2px;
  font-size: var(--fs-8);
  color: var(--sonic-silver);
  text-transform: capitalize;
  font-weight: var(--weight-500);
}

.copyright a {display: inline;color: inherit;}
/* Footer END */