/* Login Page START */
.login {
  padding: 35px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.login .loginSignUp p a {
	text-decoration: none;
	font-weight: 600;
	color: var(--davys-gray);
}

.login .loginSignUp p a:hover {
	text-decoration: underline;
}

#loginForm {
  display: flex;
  align-items: left;
  flex-direction: column;

}

.login .loginSignUp {
	font-size: 1.2em;
	font-weight: 500;
	text-align: center;
	margin: 0;
	align-items: center;
	width: 100%;
	
}

#loginForm label {
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: var(--fs-3);
}

#loginForm input {
  width: 50%;
  padding: 15px;
  margin-left: 25%;
  margin-bottom: 30px;
  box-sizing: border-box;
}

#loginForm button {
  width: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 25%;
  font-weight: bold;
  border-radius: 4px;
  color: var(--eerie-black);
  background-color: var(--light-green);
}

#error-message {color: red;margin-top: 1px;}
#loginForm button:hover {background-color: var(--yellow);}
/* Login Page END */