/* Sign Up Page START */
.signup {
  padding: 35px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#signupForm {
  display: flex;
  align-items: left;
  flex-direction: column;
}

#signupForm label {
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--fs-3);
}

#signupForm input {
  width: 50%;
  padding: 15px;
  margin-left: 25%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#signupForm button {
  width: 50%;  
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 25%;
  font-weight: bold;
  border-radius: 4px;
  color: var(--eerie-black);
  background-color: var(--light-green);
}

#error-message {color: red;margin-top: 1px;}
#signupForm button:hover {background-color: var(--yellow);}
/* Sign Up Page END */