/* Main CSS Start */
:root {
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --silver: hsl(0, 1%, 29%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --yellow: hsl(56, 73%, 65%);
  --light-green: hsl(83, 39%, 53%);
  --lighte-green: hsl(83, 58%, 66%);

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  --transition-timing: 0.2s ease;
}

body {
  background: var(--white);
  font-family: Arial, sans-serif;
}
 
header {
  color: #fff;
  padding: 50px;
  text-align: center;
  background-color: #92b659;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.home-h1 {
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: var(--fs-1);
  color: var(--eerie-black);
  font-weight: var(--weight-600);
  border-bottom: 2px solid var(--eerie-black);
}

.overlay {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  -webkit-transition: 0.5s ease;
  background: hsla(0, 0%, 0%, 0.5);
  transition: 0.5s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* Main CSS END */


/* Reset START */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

a {text-decoration: none;}
li {list-style: none;}
img, button, a {display: block;}
span {display: inline-block;}
input::-webkit-input-placeholder {font: inherit;}
input::-moz-placeholder {font: inherit;}
input::placeholder {font: inherit;}
/* Reset END */

/* Reused Style START */
.container {padding: 0 15px;}
.has-scrollbar {padding-bottom: 5px;}
.has-scrollbar::-webkit-scrollbar {width: 12px;height: 12px;}
.has-scrollbar:hover::-webkit-scrollbar-thumb {background: hsl(0, 0%, 90%);}
.has-scrollbar::-webkit-scrollbar-thumb:hover {background: hsl(0, 0%, 80%);}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 30px;
}
/* Reused Style END */

/* Footer Date */
.bottom {
    width: 100%;
    padding:5px;
    font-size: 0.9375rem;
    color: var(--eerie-black);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.bottom .left {
	margin-left: 12%;
	width: 50%;
	text-align: left;
}

.bottom .right {
	width: 50%;
	text-align: left;
}
/* Footer Date END */






























/* Scrollbar Style START */
body::-webkit-scrollbar {width: 11px;}
body::-webkit-scrollbar-thumb:hover {background: var(--davys-gray);}
body::-webkit-scrollbar-track {background: var(--eerie-black);border-left: 1px solid var(--cultured);}
body::-webkit-scrollbar-thumb {
  background: var(--ocean-green);
  border: 3px solid var(--sandy-brown);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Scrollbar Style END */

/* Header START */
.header-top, .header-user-actions, .desktop-navigation-menu {
  display: none;
  background-color: #92b659;
}

.header-main {
  padding: 20px 0;
  border-bottom: 1px solid var(--cultured);
}

.header-logo {
  margin-bottom: 20px;
}

.header-search-container {
  position: relative;
}

.header-search-container .search-field {
  font-size: var(--fs-7);
  color: var(--onyx);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid var(--cultured);
  -webkit-border-radius: var(--border-radius-md);
  border-radius: var(--border-radius-md);
}

.search-btn {
  background: var(--white);
  position: absolute;
  top: 50%;
  right: 2px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--onyx);
  font-size: 18px;
  padding: 8px 15px;
  border-radius: var(--border-radius-md);
  transition: color var(--transition-timing);
}

.search-btn:hover {background: var(--light-green);}

.mobile-bottom-navigation {
  background: var(--lighte-green);
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 0;
  -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

.mobile-bottom-navigation .action-btn {
  position: relative;
  font-size: 26px;
  color: var(--eerie-black);
  padding: 10px;
}

.mobile-bottom-navigation .count {
  background: var(--bittersweet);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: var(--weight-500);
  line-height: 1;
  padding: 2px 4px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.mobile-navigation-menu {
  background: var(--yellow);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 20;
}

.mobile-navigation-menu.active {
  left: 0;
  visibility: visible;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--cultured);
}

.menu-top .menu-title {
  color: var(--bittersweet);
  font-size: 1.7rem;
  font-weight: var(--weight-700);
}

.menu-close-btn {
  color: var(--eerie-black);
  font-size: 22px;
}

.mobile-menu-category-list {margin-bottom: 30px;}

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mobile-menu-category-list .menu-category {
  border-bottom: 1px solid var(--onyx);
}

.mobile-menu-category-list .menu-title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: bold;
  padding: 12px 0;
}

.accordion-menu div {
  font-size: 14px;
}

.accordion-menu.active .add-icon, .accordion-menu .remove-icon {
  display: none;
}

.accordion-menu .add-icon, .accordion-menu.active .remove-icon {
  display: block;
}

.menu-category .submenu-category-list {
  margin-left: 10px;
}

.submenu-title {
  padding: 6px 0;
  font-size: var(--fs-5);
  color: var(--silver);
  font-weight: var(--weight-400);
}

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
  max-height: 300px;
  visibility: visible;
}

.submenu-category-list .submenu-category {text-align: left;}
.menu-bottom .menu-category-list {margin-bottom: 20px;}

.menu-bottom .menu-category {
  border-bottom: none;
}

.menu-bottom .menu-title {
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  color: var(--eerie-black);
  padding: 12px 0;
}

.accordion-menu.active .caret-back {
  transform: rotate(-0.25turn);
}

.menu-bottom .submenu-category-list {
  border: 1px solid var(--light-green);
  border-radius: var(--border-radius-md);
  padding: 0 15px;
  margin-left: 0;
  -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
  border-bottom: 1px solid var(--light-green);
}

.menu-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-social-container .social-link {
  background: var(--cultured);
  color: var(--eerie-black);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--border-radius-md);
}
/* Header END */

/* Responsive larger than 480px screen */
@media (min-width: 480px) {
  :root {--fs-1: 1.875rem;}

  .header-top {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid var(--cultured);
  }

  .header-alert-news {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    text-transform: uppercase;
  }

  .mobile-bottom-navigation {
    -webkit-border-top-left-radius: var(--border-radius-md);
    border-top-left-radius: var(--border-radius-md);
    -webkit-border-top-right-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
  }

  .header-social-container, .header-top-actions { display: none; }
  .header-alert-news b {font-weight: var(--weight-500);}
  .header-main {padding: 25px 0;}

  .product-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .copyright {--fs-8: 0.875rem;}
  .contact{padding:50px;}
  .cont{flex-direction: column;}
  .cont .contact-form {width: 90%;}
  .submit-form-button-container button {font-size: 1.0em;}
}

/* Responsive larger than 570px screen */
@media (min-width: 570px) {
  .header-top .container, .header-main .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .header-top-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 10px;
  }

  .header-top-actions select {
    border: none;
    display: block;
    min-width: 80px;
    padding: 5px 0;
    font: inherit;
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }

  .header-logo {margin-bottom: 0;}
  .header-top-actions select:hover {color: var(--eerie-black);}
  .header-search-container {min-width: 300px;}

  .product-featured .showcase-img {max-width: 450px;margin: auto;}
  .product-featured .countdown {gap: 20px;}
}

/* Responsive larger than 768px screen */
@media (min-width: 768px) {
  :root {--fs-1: 2.375rem;}
  html {font-size: 17px;}
  .container {max-width: 750px;}

  .header-main .container {gap: 80px;}
  .header-search-container {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .product-featured .showcase {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 20px;
  }

  .product-featured .showcase-img {
    max-width: fit-content;
  }

  .product-featured .showcase-content {
    margin-top: 0;
    min-width: -webkit-calc(100% - 345px);
    min-width: calc(100% - 345px);
  }

  .footer-nav .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 50px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .footer-nav-list {
    min-width: -webkit-calc(33.33% - 15px);
    min-width: calc(33.33% - 15px);
    width: -webkit-calc(33.33% - 15px);
    width: calc(33.33% - 15px);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .footer-nav-list:not(:last-child) {margin-bottom: 0;}
}

/* Responsive larger than 1024px screen */
@media (min-width: 1024px) {
  :root
  {
    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }

  .container {max-width: 980px;}

  /* Header */
  .header-social-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 5px;
  }

  .header-social-container .social-link {
    padding: 5px;
    background: hsl(0, 0%, 95%);
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    color: var(--sonic-silver);
    -webkit-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }

  .header-social-container .social-link:hover {
    background: var(--yellow);
    color: var(--white);
  }

  .header-user-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 15px;
  }

  .header-user-actions .action-btn {
    position: relative;
    font-size: 35px;
    color: var(--onyx);
    padding: 5px;
  }

  .header-user-actions .count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: var(--bittersweet);
    color: var(--white);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }

  .desktop-navigation-menu {display: block;}

  .desktop-menu-category-list {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 30px;
  }

  .desktop-menu-category-list .menu-category:not(:nth-child(2)) {position: relative;}

  .desktop-menu-category-list .menu-category > .menu-title {
    position: relative;
    color: var(--eerie-black);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 15px 0;
    -webkit-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }

  .desktop-menu-category-list .menu-category > .menu-title:hover {color: var(--yellow);}

  .desktop-menu-category-list .menu-category > .menu-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--yellow);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }

  .desktop-menu-category-list .menu-category > .menu-title:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .dropdown-panel {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    border: 1px solid var(--cultured);
    -webkit-box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: var(--transition-timing);
    transition: var(--transition-timing);
    z-index: 5;
  }

  .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .dropdown-panel-list .menu-title a {
    color: var(--onyx);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 10px;
  }

  .panel-list-item a {
    color: var(--sonic-silver);
    font-size: var(--fs-6);
    text-transform: capitalize;
    -webkit-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }

  .panel-list-item a:hover {color: var(--ocean-green);}
  .panel-list-item:not(:last-child) a {padding: 4px 0;}
  .panel-list-item:last-child {margin-top: 20px;}

  .panel-list-item img {
    width: 100%;
    height: auto;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: var(--white);
    padding: 20px 0;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--cultured);
    -webkit-box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: var(--transition-timing);
    transition: var(--transition-timing);
    z-index: 5;
  }

  .desktop-menu-category-list .menu-category:hover > .dropdown-list {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .dropdown-list .dropdown-item a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    padding: 4px 20px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }

  .dropdown-list .dropdown-item a:hover {color: var(--ocean-green);}
  .mobile-bottom-navigation {display: none;}


  /* Product */
  .product-container .container
  {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-box {min-width: -webkit-calc(75% - 15px);min-width: calc(75% - 15px);}
  .product-featured .countdown-content {padding: 5px 10px;}

  /* Footer */
  .footer-nav-list {
    min-width: -webkit-calc(20% - 16px);
    min-width: calc(20% - 16px);
    width: -webkit-calc(20% - 16px);
    width: calc(20% - 16px);
  }
  .footer-nav-list:last-child {display:block;}
  .footer-bottom {margin-bottom: 0;}

  .contact{padding:50px 100px;}
  .cont{flex-direction:row;}
  .submit-form-button-container button {font-size: 1.8em;}
}

/* Responsive larger than 1200px screen */
@media (min-width: 1200px) {
  .container {max-width: 1200px;}
  .desktop-menu-category-list {gap: 45px;}
  .product-featured .showcase > div {min-width: -webkit-calc(50% - 10px); min-width: calc(50% - 10px);}
  .product-featured .display-number {--fs-5: 1.125rem;}

  footer {padding-top: 50px;}
  .footer-category {margin-bottom: 50px; padding-bottom: 35px;}
  .footer-nav {padding-bottom: 50px;}
}

/* Responsive larger than 1400px screen */
@media (min-width: 1400px) {
  html {font-size: 18px;}
  .container {max-width: 1350px;}
  .slider-item {height: 450px;}
  .banner-content {left: 110px; max-width: 460px;}
}